alembic
anndata
biopython
bioinfokit
bokeh
cartopy
csbdeep
dash
email-validator
fastapi
holoviews
igraph
lightgbm
matplotlib
networkx
numpy
openpyxl
optuna
panel
pandas
plotly
plotly-express
plotnine
psycopg2-binary
pydantic-settings
pyproj
pyyaml
python-dotenv
python-multipart
rasterio
scikit-learn
scipy
seaborn
scanpy
statsmodels
sqlalchemy
uvicorn
umap-learn
xgboost

